<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Model: <% @record.class.name %>
      <br/>
      Name: <%= @record.name %>
      <br/>
      Date: <%= @record.created_at %>
    </p>
  </body>
</html>
